.flag {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
  margin: 0;
  padding: 0;
}

.circle {
  width: 30vmin;
  height: 30vmin;
  background-color: #bc002d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}