.page {
  border: 3px solid red;
  width: 88px;
}

.bluey {
  border: 4px solid blueviolet;
}

.mamamia {
  border: 4px solid green;
  width: 82px; 
}

.sammich {
  border: 4px solid yellow;
  width: 82px;
}